@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');

:root {
  --color-brown: #604623;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1000px) {
  .game-container {
    transform: translateY(-1rem);
  }
}

.pet-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-container::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  border: solid var(--color-brown);
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  animation: box-alternate 500ms steps(2, jump-none) infinite;
}

.pet-action-container {
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.stats-container {
  position: absolute;
  left: 0;
  transform: translate(calc(max(34vw, 60vh)), 4vh);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: header-alternate 500ms steps(2, jump-none) infinite;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(70px);
}

.plate {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  justify-content: center;
  box-shadow: 2px 2px 8px 2px hsla(0, 0%, 0%, 0.2);
  padding: 30px;
  transform: rotateX(70deg);
  scale: 1.5;
}

.inner-plate {
  align-self: center;
  border-radius: 50%;
  border: #dddddd solid 2px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 10px hsl(0, 0%, 95%);
  justify-content: center;
  padding: 25px;
  text-align: center;
}

.food-on-plate {
  position: absolute;
  width: fit-content;
  height: fit-content;
  transform: translateY(-30%);
}

.pet-img {
  scale: 0.75;
  width: calc(max(26.65vw, 50vh));
}

button {
  font-family: "Indie Flower", cursive, sans-serif;
  padding: 0.4rem;
  transform: rotate(1.5deg);
  color: #fff;
  background-color: var(--color-brown);
  border: 1px solid var(--color-brown);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transition: all 0.2s;
}

button:hover {
  scale: 1.1;
  color: var(--color-brown);
  background-color: transparent;
  cursor: pointer;
}

.pet-action-button {
  font-family: 'Pacifico', cursive, sans-serif;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.unavailable {
  color: var(--color-brown);
  background-color: transparent;
}

.unfinished {
  position: relative;
}

.unfinished::after {
  position: absolute;
  content: "!";
  color: red;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: unfinished-alternate 500ms steps(2, jump-none) infinite;
}

.cooldown {
  position: relative;
}

.cooldown::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 3.5px solid gold;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transition: all 0.5s;
  animation: clip-path 2s linear infinite;
}

div.stat {
  font-weight: 800;
}

.food-menu {
  position: absolute;
  background-color: white;
  border: 3px solid var(--color-brown);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 0;
}

@keyframes box-alternate {
  from {
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
  }
  to {
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
  }
}

@keyframes header-alternate {
  from {
    transform: translateY(-2vh) rotate(-2deg);
  }
  to {
    transform: translateY(-2vh) rotate(2deg);
  }
}

@keyframes clip-path {
  0%,
  100% {
      clip-path: inset(0 0 95% 0);
  }
  
  25% {
      clip-path: inset(0 95% 0 0);
  }
  50% {
      clip-path: inset(95% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 95%);
  }
}

.book-container {
  position: absolute;
  width: 80vw;
  height: 90vh;
  background-size: cover;

  border: 6px solid var(--color-brown);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.glowing-shit {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsla(54, 100%, 71%, 0.814), 0 0 40px #fff38ab5, 0 0 50px #fff38ab5, 0 0 60px #fff38ab5, 0 0 70px #fff38ab5;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #f2e678, 0 0 40px #f2e678, 0 0 50px #f2e678, 0 0 60px #f2e678, 0 0 70px #f2e678, 0 0 80px #f2e678;
  }
}

.close-button {
  position: relative;
  width: calc(max(6vh, 3vw));
  height: calc(max(6vh, 3vw));
  float: right;
  border: 3px solid var(--color-brown);
  border-radius: 50%;
  transform: translate(45%, -55%);
  background-color: indianred;
  transition: background-color 500ms, scale 200ms, transform 200ms;
}

.xd {
  height: 12%;
  width: 18%;
}

.close-button:hover {
  background-color: rgb(220, 0, 44);
  transform: translate(40%, -50%);
}

.close-button:hover .line {
  background-color: white;
}

.line {
  position: absolute;
	top: 50%;
	left: 50%;
  width: 5%;
	height: 50%;
  border-radius: 15px;
  background-color: var(--color-brown);
  transform: translate(-50%, -50%) rotate(45deg);
}

.line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sex {
  display: inline-block;
  animation: sex-alternate 500ms steps(2, jump-none) infinite;
}

@keyframes sex-alternate {
  0% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

@keyframes unfinished-alternate {
  0% {
    transform: translate(50%, -45%) rotate(-7deg);
  }
  100% {
    transform: translate(50%, -45%) rotate(7deg);
  }
}

.sad {
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sad:hover, .sad:active {
  color: black;
}

.bruhh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saved-container {
  position: absolute;
  width: 50vw;
  height: 80vh;
  border: 6px solid var(--color-brown);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: white;
}

.saved-content {
  height: 80%;
  overflow: auto;
}

.saved-options {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  border-top: 2px solid #ccc;
  left: 50%;
  transform: translateX(-50%);
}

.saved-option {
  width: 30%;
  font-family: Pacifico, cursive, sans-serif;
}

.saved-item {
  position: relative;
  width: 95%;
  height: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.bruhhh {
  font-size: 0.7rem;
}

@media (max-width: 900px) {
  .close-button {
    width: 11vh;
    height: 11vh;
  }
  
  .header__h1, .header__p, .stat {
    scale: 1.5;
  }

  .stats-container {
    transform: translateX(42vw);
  }

  .pet-action-button {
    scale: 1.1;
  }

  .xd {
    height: 15%;
  }

  .i-give-up {
    scale: 1.5;
  }

  .bruhhh {
    font-size: 0.7rem;
  }

  .plate {
    scale: 1;
  }

  .food-on-plate {
    scale: 1.5;
  }
}

@media (max-width: 700px) {
  .stats-container {
    transform: translateX(45vw);
  }
}